header, footer {
background-color: deeppink;
color: snow ;
padding: 20px;
text-align: center;
}
aside {
padding-top: 10px;
font-weight: bold;
}
title {
color: darkblue;

}
body{
background-color: 
}
h2 {
background-color: none;
color: deeppink
}
#unorderedlist{
color: darkgreen;
}